.navigation {
    color: #fff;
    background-color: #333;

    .container {
        @include outer-container(800px);

        .logo {
            @include hide-text;
        }

        ul {
            line-height: 1.5em;
            margin: 0 0 1em 0;
            padding: 0;

            @include media($large-screen) {
                float: left;
                line-height: 4.8em;
                margin-left: 1em;
                margin-bottom: 0;
            }

            li {
                list-style: none;
                padding-right: 3em;

                @include media($large-screen) {
                    display: inline;
                    text-align: left;
                }
            }
        }
    }
}
