extends ./_includes/layout.jade

block title
  title Home

block content
  nav.navigation
    .container
      ul
        li Link 1
        li Link 2
        
  header
  main.content
    h1 Hello World
  footer
